* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
::selection {
  background-color: yellow;
  color: #000;
}

/* Style the scrollbar track */
::-webkit-scrollbar {
  width: 10px;
  background-color: #f1f1f1;
}

/* Style the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: #555;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #333;
}

.title {
  text-align: center;
}

.title::after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 100px;
  border-bottom: 5px solid yellow;
}

/* nav bar align based on device width */
@media (min-width: 576px) {
  nav {
    margin: 0 -20px;
  }
}

@media (min-width: 768px) {
  nav {
    margin: 0 -40px;
  }
}

@media (min-width: 992px) {
  nav {
    margin: 0 -60px;
  }
}

@media (min-width: 1200px) {
  nav {
    margin: 0 -80px;
  }
}
